<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Author</title>
    <link rel="stylesheet" href="enviar.css">
</head>
<body>
    <nav>
        <button onclick="javascript:history.go(-1)"></button>
        <a href="enviarPartitura.html">Partitura</a>
        <a href="criarAuthor.html">Author</a>
        <a href="criarMusica.html">Música</a>
    </nav>
    <header>
        <h1>Crie um Author</h1>
    </header>
    <main>
            <form action="">
                <section class="classificacoes">
                    <div>
                        <label for="inome_musica">Nome:</label>
                        <input type="text" name="nome_musica" id="inomemusica" placeholder="Nome da Música">
                    </div>
                    <div>
                        <label for="IAuthor">Author:</label>
                        <select name="Author" id="IAuthor">
                            <option value="Pixinginha">Pixinguinha</option>
                            <option value="Chico Buarque">Chico Buarque</option>
                            <option value="Frank Sinatra">Frank Sinatra</option>
                        </select>
                    </div>
                    <div>
                        <label for="Igen">Genero:</label>
                        <select name="gen" id="Igen">
                            <option value="MPB">MPB</option>
                            <option value="Sertanejo">Sertanejo</option>
                            <option value="Classico">Classico</option>
                            <option value="Jazz">Jazz</option>
                            <option value="Blues">Blues</option>
                            <option value="Rock">Rock</option>
                            <option value="Theme">Theme</option>
                        </select>
                    </div>

                </section>
                <div class="btns">
                    <input type="submit">
                </div>
            </form>

        </form>
    </main>
    <footer>
        <p>&copy;2024 Otávio Santiago</p>
    </footer>

    <script>

        function selecionou(ipart,ilabel) {

            const fileInput = document.getElementById(ipart);
            const fileLabel = document.getElementById(ilabel);
            
            fileInput.addEventListener('change', () => {
                if (fileInput.files.length > 0) {
                    fileLabel.style.backgroundColor = 'green';
                    fileLabel.textContent = `Arquivo selecionado: ${fileInput.files[0].name}`;
                } else {
                    fileLabel.style.backgroundColor = '#333';
                    fileLabel.textContent = 'Escolher arquivo';
                }
            })
        }
    </script>
</body>
</html>