@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: black; */
    text-decoration: none;
    transition: width 1s, height 1s;
}

:root{
    --cor1:#EBD065;
    --cor2:#111;
    --cor3:#1F1700;
}

body{
    background-color: black;
}

header{
    z-index: 1;
    position: sticky;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    align-items: center;
    padding: 5px;
}

form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    background-color: white;
}

input[type="search"] {
    width: 40vw;
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

input[type="search"]::placeholder {
    color: #989898;
}

form button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("../../imagens/search.png") no-repeat center;
    background-color: #08080A;
    background-size: 22px;
    cursor: pointer;
    opacity: 0.7;
}

form button[type="submit"]:hover {
    opacity: 1;
}

form button[type="submit"]:focus,
input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
}

header h1, header nav{
    text-align: center;
    width: 137px
}
header h1 a {
    color: white;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav a{
    opacity: 0.7;
    color: white;
}

header nav a:hover{
    opacity: 1;
}

header button{
    background-color: transparent;
    border: none;
}
header button img{
    opacity: 0.7;
    height: 34px;
}

header button img:hover{
    opacity: 1;
}

/**Conteudo**/

.conteudo {
    display: flex;
    align-items: center;
    margin: auto;
    width: max-content;
    border-radius: 5px;
    padding: 5px;
    gap: 20px;
}

.conteudo button {
    display: inline;
    inset: all;
    border-radius: 50%;
    border: 0px;
    background-color: white;
    min-height: 100px;
    min-width: 100px;
    width: 100px;
    height: 100px;
}

.conteudo button img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.conteudo h1 {
    /* min-width: max-content; */
    color: white;
    font-weight: 500;
    font-size: 1.5em;
}

.conteudo p {
    color: white;
}


/*Main*/
main{
    padding: 20px;
    padding-bottom: 100px;
}
main > div img{
    height: 300px;
}
.imagem-principal{
    display: flex;
    max-width: 800px;
    min-height: 300px;
    padding: 15px 0px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.imagem-principal iframe {
    border-radius: 5px;
}

h2{
    display: block;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 15px;

}

/* Cards */

::-webkit-scrollbar{
    width: 0px;
    text-decoration: dotted;
}
.musicas{
    /* position:absolute; */
    padding: 10px 0px;
    display: flex;
    overflow: auto;
}

.card{
    color: white;
    width: 180px;
    background-color: var(--cor2);
    padding: 8px;
    border-radius: 8px;
    margin-right: 5px;
    text-align: center;
    flex-shrink: 0;
    object-fit: cover;
    scroll-behavior: smooth;
    transition: transform 1s;
}

.card:hover{
    transform: translateY(-10px);
    text-decoration: underline;
    text-decoration-color: #1183d6;
    background-color: rgb(26, 24, 24);
    transition: transform 1s, text-decoration 1s;
}

.card img{
    width: 100%;
    border-radius: 10px;
    background-size: cover;
}

.card p{
    background-color: var(--cor2);
}
