*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: width 1s;
}

body{
    padding: 0px 10px;
    background-color: black;
}

header, footer{
    padding: 20px;
    text-align: center;
    color: white;
}

/* Função de fechar e abrir a barra */
.activate {
    transform: translateX(100%);
}

nav#sidebar {
    z-index: 1;
    position:fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: #333;
    color: white;
    height: 100vh;
    translate: -250px 0px;
    transition: transform 0.5s;
}

nav#sidebar button {
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 5px;
    border: 0px;
    width: 40px;
    height: 40px;
    background: transparent url('../../imagens/close.png') no-repeat center;
    background-size: contain;
}

nav#sidebar h2 { 
    padding: 30px;
    text-align: center;
}

nav#sidebar a {
    display: block;
    color: white;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #555;
    opacity: 0.7;
}

nav#sidebar a:hover {
    opacity: 1;
}

.menu {
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 8px;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
}

.menu button{
    background-image: url(../../imagens/menu-black.png);
    background-size: cover;
    background-position: center center;
    width: 28.4px;
    cursor: pointer;
    inset: all;
    background-color: white;
    border: 0px;
    border-radius: 50%;
}

.menu button:hover{
    cursor: pointer;
    background-color: rgb(181, 180, 180)
}

.menu a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

.menu a:hover{
    transition: 0.5s;
    cursor: pointer;
    background-color: #333;
    color: white;

}

main {
    max-width: 700px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}
.classificacoes label{
    font-size: 1em;
    font-weight: bold;
}

input{
    border: 1px solid black;
    width: 100%;
    border-radius: 5px;
    padding: 8px;
}


.classificacoes {
    align-items: center;
}
.classificacoes div {
    display: flex;
    margin-top: 5px;
    flex: 1;
    gap: 5px;
    align-items: center;
}
.classificacoes select {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    min-width: 100px;
    flex: 1;
}

/* Estilo do Botão de partitura */

.arquivos input[type=file] {
    display: none;
}
.arquivos label {
    display: inline-block;
    margin-top: 5px;
    border: 1px solid black;
    padding:10px;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

.arquivos label:hover{
    cursor: pointer;
    background-color: #999;
}

/* Botões de Submeter e resetar */

.btns {
    display: flex;
    margin-top: 10px;
    gap: 5px;
}

.btns input{
    height: 40px;
    color: black;
    font-weight: bold;
    background-color: white;
    border: 5px solid #333;
    border-radius: 5px;
}

.btns input:hover{
    cursor: pointer;
    background-color: #333;
    color: white;
}
