<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Partitura</title>
    <link rel="stylesheet" href="enviar.css">
</head>
<body>
    <header>
        <h1>Envie uma Partitura</h1>
    </header>
    <main>
        <form action="">
            <div class="campo">
                <input type="text" id="inome" placeholder="Nome da Música">
                <input type="text" id="author" placeholder="Author">
            </div>

            
            <div class="container">
                <textarea id="" class="desc" placeholder="Descrição"></textarea>

                <div class="tags-enviar">
                    <h2>Tags</h2>
                    <p><input type="checkbox" id="MPB"><label for="MPB">MPB</label></p>
                    <p><input type="checkbox" id="Sertanejo"><label for="Sertanejo">Sertanejo</label></p>
                    <p><input type="checkbox" id="Transcrições"><label for="Transcrições">Transcrições</label></p>
                    <p><input type="checkbox" id="Bossa Nova"><label for="Bossa Nova">Bossa Nova</label></p>
                    <p><input type="checkbox" id="Samba"><label for="Samba">Samba</label></p>
                    <input type="file" id="" > <br>
                    <input type="submit" value="Enviar">
                </div>
            </div>
        </form>
    </main>
    <footer>
        <p>&copy;2024 Otávio Santiago</p>
    </footer>
</body>
</html>