<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <header>
        <h1><a href="../../index.html">Logo</a></h1>
        <form>
            <input type="search" placeholder="Partituras...">
            <button type="submit">Procurar</button>
        </form>

        <nav>
            <!-- <button>
                <img src="../../imagens/account.png" alt="conta">
            </button> -->
            <a href="templates/enviarPartitura/enviarPartitura.html">Enviar</a>
        </nav>

    </header>

    <main>
        <div class="imagem-principal">  
            <iframe width="560" height="315" src="https://www.youtube.com/embed/CDKEtL9WUTc?si=huG865u-FQEou9At" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="menu">
            <select name="" id="">
                <option value="">Sax Tenor</option>
                <option value="">Sax Alto</option>
                <option value="">Clarinete</option>
            </select>
            <a href="">Partitura</a>
            <a href="">PlayBack</a>
        </div>

        <h2>Semelhantes</h2>
        <section class="musicas">
            <a href="index.html">
                <div class="card">
                    <img src="../../imagens/partitura.jpeg" alt="Partitura">
                    <p>Nome da Música</p>
                </div>
            </a>
            <a href="index.html">
                <div class="card">
                    <img src="../../imagens/partitura.jpeg" alt="Partitura">
                    <p>Nome da Música</p>
                </div>
            </a>
            <a href="index.html">
                <div class="card">
                    <img src="../../imagens/partitura.jpeg" alt="Partitura">
                    <p>Nome da Música</p>
                </div>
            </a>
            <a href="index.html">
                <div class="card">
                    <img src="../../imagens/partitura.jpeg" alt="Partitura">
                    <p>Nome da Música</p>
                </div>
            </a>
            <a href="index.html">
                <div class="card">
                    <img src="../../imagens/partitura.jpeg" alt="Partitura">
                    <p>Nome da Música</p>
                </div>
            </a>
            <a href="index.html">
                <div class="card">
                    <img src="../../imagens/partitura.jpeg" alt="Partitura">
                    <p>Nome da Música</p>
                </div>
            </a>
            <a href="index.html">
                <div class="card">
                    <img src="../../imagens/partitura.jpeg" alt="Partitura">
                    <p>Nome da Música</p>
                </div>
            </a>
            <a href="index.html">
                <div class="card">
                    <img src="../../imagens/partitura.jpeg" alt="Partitura">
                    <p>Nome da Música</p>
                </div>
            </a>
            <a href="index.html">
                <div class="card">
                    <img src="../../imagens/partitura.jpeg" alt="Partitura">
                    <p>Nome da Música</p>
                </div>
            </a>
            <a href="index.html">
                <div class="card">
                    <img src="../../imagens/partitura.jpeg" alt="Partitura">
                    <p>Nome da Música</p>
                </div>
            </a>
            <a href="index.html">
                <div class="card">
                    <img src="../../imagens/partitura.jpeg" alt="Partitura">
                    <p>Nome da Música</p>
                </div>
            </a>
            <a href="index.html">
                <div class="card">
                    <img src="../../imagens/partitura.jpeg" alt="Partitura">
                    <p>Nome da Música</p>
                </div>
            </a>
            <a href="index.html">
                <div class="card">
                    <img src="../../imagens/partitura.jpeg" alt="Partitura">
                    <p>Nome da Música</p>
                </div>
            </a>
            <a href="index.html">
                <div class="card">
                    <img src="../../imagens/partitura.jpeg" alt="Partitura">
                    <p>Nome da Música</p>
                </div>
            </a>
            <a href="index.html">
                <div class="card">
                    <img src="../../imagens/partitura.jpeg" alt="Partitura">
                    <p>Nome da Música</p>
                </div>
            </a>
        </section>




    </main>


</body>
</html>